@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Home";
}

<h2>Admin Home</h2>

<a href="/Admin/CreateUser" class="btn btn-block btn-default">Add User</a>
<a href="/Admin/CreateCourse" class="btn btn-block btn-default">Add Course</a>



