@{
    Layout = "~/Views/Shared/_FecultyLayout.cshtml";
    ViewBag.Title = "Home";
}

<h2>Home</h2>

<a href="/Feculty/AllStudents" class="btn btn-block btn-default">Add Student Grade</a>
<a href="/Feculty/CheckGrade" class="btn btn-block btn-default">Check Student Grade</a>
<a href="/Feculty/CreateNotice" class="btn btn-block btn-default">Create Notice</a>


